<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav para el menú de navegación -->
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" [fixedTopGap]="64">
    <mat-nav-list>
      <a mat-list-item routerLink="/product-list" (click)="sidenav.close()">
        <mat-icon matListItemIcon>payment</mat-icon>
        <span matListItemTitle>Ventas</span>
      </a>
      <a mat-list-item routerLink="/product-form" (click)="sidenav.close()">
        <mat-icon matListItemIcon>add_shopping_cart</mat-icon>
        <span matListItemTitle>Registrar Producto</span>
      </a>
      <!-- Add more navigation links here -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

